* {
    margin: 0;
    padding: 0;
}
 
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #000000;
  color: #373535;
  
}
.header {
    background-color: aqua;
    height: 60px;
    text-align: right;
    width: 100%;
}
.navbar li {
 list-style: none;
 display:inline-block;
 margin-left: 30px;
 font-size: 20px;
 margin-right: 20px;
 position: relative;
 top: 20px ;
 text-transform: uppercase;
}
.navbar li a {
    cursor: pointer;
}
span {
    background-color: #4F4846;
    height: 20px;
    
}
.sec-header {
    background-color: #4F4846;
    height: 30px;
    width: 100%;
}

 img {
    width: 500px;
    position: relative;
    left: 44%;
    margin-top: 150px;
}
 section h3 {
    position: absolute;
    left: 46%;
    color: aliceblue;
    bottom: 50%;
    font-size: 80px;

}

.form {
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    border:1px solid grey ;

}

h2 {
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 20px;
}
label {
    color: aliceblue;
    display: block;
    padding: 15px;
    font-size: 20px;
}
 input {
    font-size: 20px;
    margin-left: 10px;
}

footer {
    background-color: #4F4846;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


